/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin-top: 15px;
  padding: 0;
  height: 60px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 50px; /* Adjust based on footer height */
}

header, footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 60px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

header ul {
  list-style-type: none;
  padding: 0;
}

header ul li {
  display: inline;
  margin: 0 20px;
}

header ul li a {
  color: white;
  text-decoration: none;
}

.property-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.property-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  background-color: white;
  width: 30%;
}

.search-bar input {
  padding: 5px;
  width: 80%;
}

.search-bar button {
  padding: 5px;
  background-color: #333;
  color: white;
  border: none;
}

.filter input {
  padding: 5px;
  width: 100%;
}

footer a {
  color: white;
}

footer p {
  display: inline;
  margin: 0 15px;
}