[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-bcrypt = "*"
flask-migrate = "*"
sqlalchemy = "*"
flask-script = "*"
sqlalchemy-serializer = "*"
werkzeug = "*"
jinja2 = "*"
click = "*"
itsdangerous = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_full_version = "3.8.13"
